<!DOCTYPE html>
<html lang="en">
    <head>
        <title>Vue的render方法说明对比</title>
        <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="css/style.css" rel="stylesheet">
    </head>
    <body>
    <div id="app">
        <child :level="1">Hello World!</child>
    </div>
    <script type="text/x-template" id="template">
    <div>
        <h1 v-if="level===1">
            <slot></slot>
        </h1>
        <h2 v-if="level===2">
            <slot></slot>
        </h2>
        <h3 v-if="level===3">
            <slot></slot>
        </h3>
    </div>
    </script>

    <script type="text/javascript">
     Vue.component('child',{
         template:'#template',
         props:{ //props表示传递给这个组件的变量
             level:{
                 type:Number,
                 required:true
             }
         }
     })
        new Vue({ //new了一个Vue的实例，挂载点是”#app”这个dom
            el:'#app'
        })
    
    </script>
    </body>
</html>