<!DOCTYPE html>
<html lang="en">

<head>
  <title>Vue的render方法说明实例</title>
  <script src="https://unpkg.com/vue@2.1.10/dist/vue.js"></script>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
</head>

<body>
  <div id="app">
    <child :level="2">Hello World!</child>
  </div>
  <!-- <script type="text/x-template" id="template">
    <div>
        <h1 v-if="level===1">
            <slot></slot>
        </h1>
        <h2 v-if="level===2">
            <slot></slot>
        </h2>
        <h3 v-if="level===3">
            <slot></slot>
        </h3>
    </div>
    </script> -->

  <script type="text/javascript">
    Vue.component('child', {
      //  template:'#template',
      props: {
        level: {
          type: Number,
          required: true
        },
        styles: {
          color: 'red',
          fontSize: '14px'
        }
      },
      render(createElement) {
        return createElement(
          'h' + this.level, // tag name 标签名称 ,第一个参数主要用于提供dom的html内容，类型可以是字符串、对象或函数
          this.styles, //第二个参数（类型是对象）主要用于设置这个dom的一些样式、属性、传的组件的参数、绑定事件之类   
          this.$slots.default // 子组件中的阵列
        )
      }

    })

    //     var getChildrenTextContent = function (children) {
    //   return children.map(function (node) {
    //     return node.children
    //       ? getChildrenTextContent(node.children)
    //       : node.text
    //   }).join('')
    // }
    // Vue.component('child', {
    //   render: function (createElement) {
    //     // create kebabCase id
    //     var headingId = getChildrenTextContent(this.$slots.default)
    //       .toLowerCase()
    //       .replace(/\W+/g, '-')
    //       .replace(/(^\-|\-$)/g, '')
    //     return createElement(
    //       'h' + this.level,
    //       [
    //         createElement('a', {
    //           attrs: {
    //             name: headingId,
    //             href: '#' + headingId
    //           }
    //         }, this.$slots.default)
    //       ]
    //     )
    //   },
    // render: function (createElement) {
    //   return createElement('div',
    //     Array.apply(null, { length: 10 }).map(function () {
    //       return createElement('p', 'hi,你好啊')
    //     })
    //   )
    // },
    // props: {
    //     level: {
    //       type: Number,
    //       required: true
    //     }
    //   }
    // })
    var mixin = {
      created: function () {
        console.log('混合对象的钩子被调用')
      },
      // render() { 
      //   return <div id = "foo" >这是render函数的简写</div>
      // }
    }

    new Vue({ //new了一个Vue的实例，挂载点是”#app”这个dom
      el: '#app',
      mixins: [mixin], //同名钩子函数将混合为一个数组，因此都将被调用。另外混合对象的钩子将在组件自身钩子之前调用 
      created: function () {
        console.log('组件钩子被调用')
      }
    })

  </script>
</body>

</html>
